# --- APP CONFIG ---
NODE_ENV=
APP_NAME=
APP_PORT=
FRONTEND_DOMAIN=
BACKEND_DOMAIN=
API_PREFIX=
APP_FALLBACK_LANGUAGE=
APP_HEADER_LANGUAGE=

# --- DATABASE CONFIG ---
DATABASE_URL=

# --- AUTH (JWT) CONFIG ---
JWT_SECRET=
JWT_EXPIRES_IN=
REFRESH_SECRET=
REFRESH_EXPIRES_IN=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# Đổi từ mock sang resend
# MAIL_PROVIDER=
# Lấy API Key này bằng cách tạo tài khoản miễn phí tại https://resend.com/
# RESEND_API_KEY=
# Mặc định Resend ở chế độ free tier chỉ cho phép gửi từ email mặc định của họ:
# MAIL_DEFAULT_FROM=

# Đổi provider sang nodemailer
MAIL_PROVIDER=
MAIL_DEFAULT_FROM=

# Cấu hình SMTP
SMTP_HOST=
SMTP_PORT=
SMTP_USER=
SMTP_PASS=

# --- CLOUDINARY CONFIG ---
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
STORAGE_PROVIDER=

# Super Admin Credentials
SUPER_ADMIN_EMAIL=
SUPER_ADMIN_PASSWORD=
