# --- APP CONFIG ---
NODE_ENV=
APP_NAME=
APP_PORT=
FRONTEND_DOMAIN=
BACKEND_DOMAIN=
API_PREFIX=
APP_FALLBACK_LANGUAGE=
APP_HEADER_LANGUAGE=

# --- DATABASE CONFIG ---
DATABASE_URL=

# --- AUTH (JWT) CONFIG ---
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

# --- REDIS CONFIG ---
REDIS_HOST=
REDIS_PORT=